$portraitGrid: 
	"a a a a a a a a"
	". . . . . . . ."
	"o o . f f . w w"
	". . . . . . . ."
	"i i i i i i i i"
;

$landscapeGrid:
	"a"
	"."
	"."
	"."
	"o"
	"f"
	"w"
	"."
	"."
	"."
	"i"
;


@media screen and (max-width: 1280px) {
	.content {
		font-size: 0;
		position: absolute;
	}

	.interface {
		padding: 40px 30px;
	}

	.bottom-question {
		padding: 0;
		margin: 0;
	}

	@media (orientation: portrait) {
		#home {
			grid-template-areas: "m" "s";
		}

		.interface {
			grid-template-columns: repeat(8, (100%/ 8));
			grid-template-areas: $portraitGrid;
		}

		/* for mobile only */

		@media (max-device-width: 1280px) {
			#home {
				grid-template-rows: auto 30vh;
			}
			.btn {
				height: 90px;
			}
		}

		/* for web only */
		@media (min-device-width: 1280px) {
			#home {
				grid-template-rows: auto 350px;
			}
		}
	}

	@media (orientation: landscape) {
		#home {
			grid-template-columns: auto 400px;
			grid-template-areas: "m s";
		}

		.interface {
			grid-template-areas: $landscapeGrid;
		}
	}
}