$portraitGrid: 
  "a a a a a a a a"
  ". . . . . . . ."
  "o o . f f . w w"
  ". . . . . . . ."
  "i i i i i i i i"
;

$landscapeGrid:
  "a"
  "."
  "."
  "."
  "o"
  "f"
  "w"
  "."
  "."
  "."
  "i"
;


@media screen and (max-width: 1280px) {
  .content {
    font-size: 0;
    position: absolute;
  }

  .interface {
    padding: 40px 30px;
  }

  .bottom-question {
    padding: 0;
    margin: 0;
  }

  /*
    mobile and web view responds differently to px size.
    this is based on device size not window size.
  */

  @mixin interfaceViewByDevice {
    /* for mobile */

    @if (max-device-width: 1280px) {
      #home {
      	grid-template-rows: auto 30vh;
      }
      .btn {
      	height: 90px;
      }

		/* for web */
    } @else {
      #home {
        grid-template-rows: auto 350px;
      }
    }
  }


  /* 
    everything else that manipulates the dom directly. this also accounts 
    for web desktop with the window being "mobile" sized due to the fact 
    that it shares alot of traits with the mobile css (plus it saves extra
    code from being written)
  */

  @media (orientation: portrait) {
    @include interfaceViewByDevice;

    #home {
      grid-template-areas: "m" "s";
    }

    .interface {
      grid-template-columns: repeat(8, (100%/ 8));
      grid-template-areas: $portraitGrid;
    }
  }

  @media (orientation: landscape) {
    #home {
      grid-template-columns: auto 400px;
      grid-template-areas: "m s";
    }

    .interface {
      grid-template-areas: $landscapeGrid;
    }
  }
}
