/********************
For desktop view
*********************/
@media screen and (min-width: 1280px) {
  #home {
    grid-template-columns: auto 450px;
    grid-template-areas: 'm s';
  }

  .interface {
    padding: 0 20px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-areas:
      '.'
      'a'
      '.'
      '.'
      '.'
      'o'
      'f'
      'w'
      '.'
      '.'
      'c'
      '.'
      'i';
  }
}
